<br><br><br>


<div class="container">
  <div class="row">
    <div class="col-md-4">


    </div>
    <div *ngIf="nuevoUsuario.estado==0||nuevoUsuario.estado==3"  class="col-md-4">
      <br><br><br>

      <h2 style="text-align: center">Parador NANO </h2>
      <h2  style="text-align: center">Viche Esmeraldas</h2>
      <br>
      <input class="form-control"
             placeholder="Usuario"
             [(ngModel)]="nuevoUsuario.nombreDeUsuario" type="text">
      <br>
      <input class="form-control"
             placeholder="Contraseña"
             [(ngModel)]="nuevoUsuario.contrasena" type="password">
      <br>
      <button  class="btn btn-primary" style="width: 350px" (click)="comprobarUsuario()"  >Login</button>
      <br><br>
      <div  class="alert alert-danger" role="alert"  *ngIf="nuevoUsuario.estado==3">
        <strong>Oh snap!</strong> Compruebe sus credenciales
      </div>

    </div>


  </div>

  <app-cajero *ngIf="nuevoUsuario.estado==2">   </app-cajero>
  <app-administrador *ngIf="nuevoUsuario.estado==4" >   </app-administrador>

</div>
